.feactures{
    margin-left: 55px;
}
.feactures ul{
    list-style-image: url('./imgs/check.png');
}
.feactures li{
    padding-bottom: 2vh;
}
.feactures h1{
    font-weight: 500;
    font-size: 4rem;
    margin-top: -5px;
}
.feactures h2{
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: -5px;
    padding-bottom: 8vh;
}
.feactures h3{
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: -5px;
}
.feactures button{
    font-weight: 500;
    font-size: 1.7rem;
    margin-top: 7vh;
    padding: 0.8% 8% 0.8% 8%;
    border-radius: 500px;
}
.sublinhado{
    transition: all 0.5s;
    padding: 0.35vh;
    border-radius: 500px;
    width: 1vw;
}
.feactures li:hover .sublinhado{
    padding: 0.35vh;
    border-radius: 500px;
    width: 15vw;
    background-color: #EFA765;
}
.feactures button a{
    color: white;
}
